In [1]:
import pandas as pd 
from pycaret.datasets import get_data
from pycaret import nlp
from pycaret import classification

In [2]:
#data = get_data('amazon').sample(frac = 0.1)
#data.reset_index(drop = True, inplace = True)
data = pd.read_csv('bbc-text.csv')

In [10]:
nlp_ = nlp.setup(data = data, target='text', session_id = 6842)

In [11]:
lda = nlp.create_model('lda', num_topics = 6)

In [12]:
data_assigned = nlp.assign_model(lda)

In [20]:
cols = ['Topic_0', 'Topic_1', 'Topic_2',
        'Topic_3', 'Topic_4', 'Topic_5',
        'category']

data_assigned_ = data_assigned[cols]

data_assigned_

,Topic_0,Topic_1,Topic_2,Topic_3,Topic_4,Topic_5,category
0,0.000532,0.799589,0.000363,0.042981,0.068994,0.087541,tech
1,0.001329,0.031523,0.000910,0.333612,0.207997,0.424630,business
2,0.043839,0.002879,0.053541,0.003083,0.682899,0.213759,sport
3,0.033124,0.003366,0.001390,0.003702,0.845656,0.112761,sport
4,0.769706,0.003300,0.001276,0.003521,0.122637,0.099559,entertainment
...,...,...,...,...,...,...,...
2220,0.013837,0.037623,0.018374,0.895452,0.003413,0.031300,business
2221,0.002379,0.003962,0.001630,0.075179,0.006447,0.910403,politics
2222,0.556922,0.076590,0.000980,0.112078,0.089847,0.163584,entertainment
2223,0.024502,0.059840,0.003895,0.022876,0.071830,0.817056,politics
2224,0.001644,0.002713,0.001126,0.002926,0.853739,0.137853,sport

In [21]:
classf = classification.setup(data_assigned_, target = 'category',
                              session_id = 3100, fix_imbalance = True,
                              train_size = 0.8)

In [22]:
classification.compare_models()